sudo: required
language: node_js
services:
    - docker

before_install:
    - docker build -t sumanshakya/docker-react -f Dockerfile.dev .

script:
    - docker run -e CI=true sumanshakya/docker-react npm run test